<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie App</title>
</head>
<body>
  <h1>Welcome to the Movie App</h1>
  <a href="/movies">View All Movies</a>
  <a href="/movies/new">Add a New Movie</a>
</body>
</html>